body {
  background-color: #212121 !important;
  min-height: 100%;
}

.container {
  position: absolute;
  top: 50px;
  bottom: 25px;
  width: 100% !important;
  padding: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.folder-info {
  position: absolute;
  /*bottom: 0px;*/
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: !important;
  padding: 0px !important;
  min-height: 23px !important;
  line-height: 23px;
  max-height: 23px !important;
  border-top: 1px solid #424242;
}

.flex {
  display: flex;
}

.top-bar {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #424242;
}

.file-tree {
  padding: 0px  !important;
  min-height: 100% !important;
  border-right: 1px solid #616161;
}


.folders {
  margin-top: 15px;
}

.folder {
  padding-left: 15px;
  margin-bottom: 10px;
}

.folder:hover {
  cursor: pointer;
}

.folder-name {
  margin-left: 10px;
}

.folder-active {
  background-color: #424242;
  color: #9E9E9E !important;
}

.folder-view {
  min-height: 100% !important;
  background-color: #424242;
  padding-right: 0px;
}

.row {
  color: #9E9E9E !important;
  min-height: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
}


.arrow {
  margin-right: 15px;
}

.history-arrow {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  width: 30px;
}

.history-arrow:hover {
  background-color: #37474F;
  border-radius: 3px;
  cursor: pointer;
}

.sub {
  margin-left: 0px;
}

.sub-file {
  margin-left: 30px;
}

.folder-body {
  margin-left: -15px;
  padding-left: 15px;
}

.file {
  text-align: center;
  max-width: 100px;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.file:hover{
  cursor: pointer;
}

.file:hover .file-icon{
  color: #BDBDBD;
}

.file-icon {
  font-size: 42px;
}

.file-name{

}

.views{
  text-align: right;
}

.view-item {
  display: inline-block;
  line-height: 30px;
  width: 30px;
  text-align: center;
}

.view-item:hover {
  background-color: #37474F;
  color: #E0E0E0;
  border-radius: 3px;
  cursor: pointer;
}

.view-item-active {
  background-color: #37474F;
  color: #E0E0E0;
  border-radius: 3px;
}

.path-item{
  display: inline-block;
  line-height: 30px;
  text-align: center;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #424242;
  border-radius: 4px;
  margin-left: -4px;
}

.path-item:hover{
  background-color: #757575;
  color: #BDBDBD;
  cursor: pointer;
  font-weight: bold;
}

.path-active{
  font-weight: bold;
}

.first{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.middle{
  border-radius: 0px !important;
  border-left: 1px solid #616161;
  border-right: 1px solid #616161;
}

.last{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.file-size {
  text-align: right;
}
