body {
  background-color: #212121 !important;
  min-height: 100%;
}

.container {
  height: 100vh;
  margin-left: 0px;
  margin-right: 0px;
}

.file-tree {
  min-height: 100vh !important;
  border-right: 1px solid #616161;
}


.folders {
  margin-top: 15px;
}


.folder-view {
  min-height: 100vh !important;
  background-color: #424242;
  padding-right: 0px;
}

.row {
  color: #9E9E9E !important;
  min-height: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
